/* $font-stack:    Helvetica, sans-serif; */
/* $primary-color: #333; */

/* body { */
/*   font: 100% $font-stack; */
/*   color: $primary-color; */
/* } */

.typeahead-list {
    list-style-type: none;
    padding: 5px;
    margin-top: 3px;
    border: solid 1px grey;
    border-radius: 3px;
    position: absolute;
    z-index: 2;
    background-color: white;
    overflow-y: scroll;
    max-height: 300px;
    width: 445px}

.typeahead-item {
  padding: 3px;
}

li.highlighted {
  padding: 3px;
  border: 1px solid grey;
  background-color: grey;
  color: white;
}



